* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(28, 40, 46, 0.3), rgba(0, 168, 255, 0.3)), url('C:\Users\user\Desktop\web\code.htl\back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0% 75%, 0 0);
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.2%;
    z-index: -1;
    background-color: linear-gradiant(to right, #010408 0%, #0a0c0c 0%, #0d1011 100%);
}

bar:before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.4%;
    z-index: -1;
    background-color: linear-gradiant(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%)
}

.nav-item a {
    color: #fff;
    font-weight: bold;
}

.header-section {
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

*p {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #ebe0e0;
}

.header-buttons a {
    border: 1px solid#fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}

.header-buttons a:hover {
    color: #50d1c0;
    background: white;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}